<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Maven_Project/src/test/java/com/testNG/Automation_Project_Women_Top_ts.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.testNG.Automation_Project_Women_Top_ts"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Maven_Project"/>
</launchConfiguration>
